annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
click==8.3.1
dotenv==0.9.9
fastapi==0.135.1
flatbuffers==25.12.19
h11==0.16.0
idna==3.11
mpmath==1.3.0
networkx==3.6.1
numpy==2.4.2
onnxruntime==1.24.2
packaging==26.0
protobuf==7.34.0
pydantic==2.12.5
pydantic_core==2.41.5
PyMuPDF==1.27.1
pymupdf-layout==1.27.1
pymupdf4llm==0.3.4
python-dotenv==1.2.2
python-multipart==0.0.22
PyYAML==6.0.3
starlette==0.52.1
sympy==1.14.0
tabulate==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.41.0
